
<header class="bg-danger header">
    <!-- PC -->
    <nav class="pc-header container d-flex jcsb aic">
        <div class="header-logo">
            <a href="index.html"><img src="/assets/images/logo-glasses.png" alt="logo"></a>
        </div>
        <ul class="d-flex aic fz-5">
            <li><a href="optical.html" class="color-white">系列鏡框</a></li>
            <li class="ml-16"><a href="store.html" class="color-white">門市據點</a></li>
            <li class="ml-16"><a href="#" class="color-white">部落格</a></li>
            <li class="ml-16"><a href="#" class="color-white">常見問題</a></li>
        </ul>
    </nav>

    
    <!-- phone -->
    <nav class="phone-header d-flex">
        <div class="header-logo">
            <a href="index.html"><img src="/assets/images/logo-glasses.png" alt="logo"></a>
        </div>
        <ul class="d-flex flex-wrap text-center">
            <li><a href="optical.html" class="color-white">系列鏡框</a></li>
            <li><a href="store.html" class="color-white">門市據點</a></li>
            <li><a href="#" class="color-white">部落格</a></li>
            <li><a href="#" class="color-white">常見問題</a></li>
        </ul>
    </nav>


</header>